<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>
<center><b><h1>137 | Vishal Baraiya | 23010101014</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [1]:
import pandas as pd

In [2]:
Tdata = pd.read_csv("Tdata.csv")
Tdata

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0
5          T6      0       0       1     1    1     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [3]:
df_item = Tdata.drop(columns=["Transaction"])
df_item.head()

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [4]:
df_item.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [5]:
from itertools import combinations

def find_frequent_itemsets(df,min_support):
    n = len(df)
    result = []

    for k in [1,2,3]: # for 1-item, 2-item, 3-item
        for items in combinations(df.columns,k):
            mask = df[list(items)].all(axis = 1)
            support = mask.sum()/n
            if support >= min_support:
                result.append((frozenset(items),round(support,2)))

    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [6]:
frequent_itemsets = find_frequent_itemsets(df_item,min_support=0.5)

for itemset, support in frequent_itemsets:
    print(f"{set(itemset)} -> support : {support}")

{'bread'} -> support : 0.83
{'butter'} -> support : 0.5
{'milk'} -> support : 0.5
{'bread', 'butter'} -> support : 0.5
{'milk', 'bread'} -> support : 0.5

### Step 6 Display as a DataFrame

In [7]:
result_df = pd.DataFrame(frequent_itemsets, columns=['Itemset','Support'])
result_df

           Itemset  Support
0          (bread)     0.83
1         (butter)     0.50
2           (milk)     0.50
3  (bread, butter)     0.50
4    (milk, bread)     0.50

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools

In [8]:
# def find_frequent_itemsets(df, min_support):
#     n = len(df)
#     result = []

#     columns = list(df.columns)

#     # 1-itemsets
#     for i in range(len(columns)):
#         item1 = columns[i]
#         mask = df[item1] == 1
#         support = mask.sum() / n
#         if support >= min_support:
#             result.append((frozenset([item1]), round(support, 2)))

#     # 2-itemsets
#     for i in range(len(columns)):
#         for j in range(i + 1, len(columns)):
#             item1 = columns[i]
#             item2 = columns[j]
#             mask = df[item1] & df[item2]
#             support = mask.sum() / n
#             if support >= min_support:
#                 result.append((frozenset([item1, item2]), round(support, 2)))

#     # 3-itemsets
#     for i in range(len(columns)):
#         for j in range(i + 1, len(columns)):
#             for k in range(j + 1, len(columns)):
#                 item1 = columns[i]
#                 item2 = columns[j]
#                 item3 = columns[k]
#                 mask = df[item1] & df[item2] & df[item3]
#                 support = mask.sum() / n
#                 if support >= min_support:
#                     result.append((frozenset([item1, item2, item3]), round(support, 2)))

#     return result